In [1]:
import pickle, pandas, requests, tqdm, time

In [2]:
with open('ptu_spb.pickle', 'rb') as f:
    frame = pickle.load(f)

In [4]:
frame

       first_name           last_name  school  school_type        uid
0          Эдуард              Карлин  109826            1    3826297
1         Виталий             Кузьмин  109826            1  293941751
2          Руслан             Петикян  109826            1  190102307
3           Антон              Павлов  109826            1      48832
4      Александра              Жирова  109826            1   48592866
5       Анастасия           Завьялова  109826            1  108201924
6           Елена            Пузанова  109826            1   24042320
7           Павел              Болеев  109826            1   36571867
8         Оленька          Прокофьева  109826            1    3620120
9        Кристина            Туличева  109826            1  106504528
10          Елена             Иванова  109826            1  178404249
11         Ксения          Гончаренко  109826            1  153815591
12        Евгения          Семерикова  109826            1   67595467
13           Анна            Ульянова  109826            1    2742640
14         Victor       Alexandrovich  109826            1  169270861
15           Дима             Кузьмин  109826            1  156481293
16           Анна             Бузуева  109826            1   77234965
17        Алексей              Ефимов  109826            1   46297349
18         Регина             Киреева  109826            1    4305941
19           Anya          Cherkasova  109826            1  145953818
20          Лидия             Власова  109826            1  116187360
21         Виктор           Прокофьев  109826            1   60530019
22           Тома          Толстунова  109826            1   49486796
23         Марина           Анисимова  109826            1   14756583
24          Мария             Голосюк  109826            1    3714720
25           Вера               Зуева  109826            1    2157497
26          Дарья       Воскресенская  109826            1    1946596
27          Елена           Кунгурова  109826            1     697889
28         Сережа               Дикий  109826            1  190639326
29        Евдокия             Скрипач  109826            1  180251879
...           ...                 ...     ...          ...        ...
93181       Елена            Федорова   23294            1  364327977
93182     Наталья           Мартюкова   23294            1  363626128
93183        Анна          Николаевна   23294            1  327874498
93184          No                Name   23294            1  301457752
93185  Александра            Тарасова   23294            1  221034100
93186       Ирина           Николаева   23294            1  185581889
93187      Леонид           Кравченко   23294            1  162683499
93188      Наташа             Громова   23294            1  398263183
93189       Настя             Поршень   23294            1  352100627
93190   Анастасия           Михайлова   23294            1  340173980
93191       Елена              Гусева   23294            1  325634319
93192      Михаил              Злобин   23294            1  193274032
93193       Игорь             Светлых   23294            1  320971828
93194      Mental              Asylum   23294            1  149017583
93195       Анися            Ракедсон   23294            1  198396869
93196       Елена  Савина (Голоушина)   23294            1   10668017
93197     Валерия               Новак   23294            1  322438614
93198        Саша                Коша   23294            1  168893484
93199        Аида             Мамаева   23294            1  160902555
93200    Владимир          Алексеевич   23294            1  220637872
93201         Xri                 Xxx   23294            1  438047126
93202    Battsooj              Enhbat   23294            1  347916488
93203    Battsooj              Enhbat   23294            1  339220492
93204       Сария            Чепакова   23294            1  320460367
93205      Полина             Иванова   23294            1  319584065
93206      Valery           Saningong   23294            1  298534332
93207        Макс             Ангелов   23294            1  230574764
93208      Аленка          Безымянная   23294            1  197234652
93209     Мохамед            Неперсов   23294            1  176960527
93210        Hash              Knight   23294            1  169797987

[93211 rows x 5 columns]

In [3]:
uids = list(frame['uid'])

def chunks(lst, chunk_size):
    return [lst[i:i + chunk_size] for i in range(0, len(lst), chunk_size)]

uids = chunks(uids, 24)

In [4]:
api = 'https://api.vk.com/method/'

token = '&access_token=21080f6aa0620f61794f27f0d064c09d19cb44cdd4183f591d5204c74bd5776eca4e41ac94f001f9b9f2a'
api = 'https://api.vk.com/method/'
app_token = '&access_token=a8e5b3eda8e5b3eda8e5b3ed43a8bae255aa8e5a8e5b3edf2e2da74f19ad53d539db181'

In [5]:
data = {
    'sex': [], 'has_photo': [], 'relation': [],
    'political': [], 'religion': [], 'people_main': [], 'life_main': [],
    'smoking': [], 'alchol': [], 'groups': []
}

In [7]:
for uid in tqdm.tqdm_notebook(uids):
    time.sleep(0.3)
    #print(uid)
    sers = requests.get(api + 'execute.getInfoo' + '?idd=' + ','.join(list(map(str, uid))) + token).json()
    
    groups = sers['response'][0]
    #print(groups[1][1]['gid'])
    get = sers['response'][1][0]
    if type(groups) == type(False):
        print(groups)
    for user in groups:
        tmp = []
        if type(user) == type(False):
            data['groups'].append([])
            continue
        for group in user:
            tmp.append(group.setdefault('gid', None))
        data['groups'].append(tmp)
        
    for x in get:
        data['sex'].append(x['sex'])
        data['has_photo'].append(x.setdefault('has_photo', None))
        data['religion'].append(x.setdefault('personal', {}).setdefault('religion', None))
        data['relation'].append(x.setdefault('relation', None))
        data['political'].append(x.setdefault('personal', {}).setdefault('political', None))
        data['people_main'].append(x.setdefault('personal', {}).setdefault('people_main', None))
        data['life_main'].append(x.setdefault('personal', {}).setdefault('life_main', None))
        data['smoking'].append(x.setdefault('personal', {}).setdefault('smoking', None))
        data['alchol'].append(x.setdefault('personal', {}).setdefault('alcohol', None))

### бинаризируем, засовываем в пандас и пикалим

In [8]:
import pickle
with open('data.pickle', 'wb') as f:
    pickle.dump(data, f)

In [9]:
pandas.DataFrame(data)

,alchol,groups,has_photo,life_main,people_main,political,relation,religion,sex,smoking
0,1.0,[155408923],1,1.0,6.0,4.0,0.0,Православие,2,1.0
1,NaN,"[110192574, 126469688, 144806061, 30192213, 64...",1,NaN,NaN,NaN,6.0,None,2,NaN
2,4.0,"[36775085, 123695926, 31260648, 24881486, 4296...",1,1.0,2.0,NaN,0.0,None,2,2.0
3,NaN,"[38514064, 62684604, 45969278, 81309736, 12736...",1,NaN,NaN,NaN,NaN,None,2,NaN
4,NaN,"[21258485, 28890647, 35026736, 91676820, 11012...",1,NaN,NaN,NaN,0.0,Верю в бога))),1,NaN
5,NaN,"[58737741, 29384413, 34298047, 89718882, 83706...",1,NaN,NaN,NaN,NaN,None,1,NaN
6,NaN,"[49715849, 116801726, 101431498, 74890232, 116...",1,NaN,NaN,NaN,NaN,None,1,NaN
7,NaN,"[35145657, 442, 66544874, 34300760, 62902696, ...",1,NaN,NaN,NaN,2.0,None,2,NaN
8,NaN,"[22222333, 65414135, 36200261, 63648779, 85270...",1,NaN,NaN,NaN,NaN,None,1,NaN
9,NaN,"[152574625, 102943909, 73730654, 35762179, 138...",1,NaN,NaN,NaN,NaN,None,1,NaN
10,NaN,"[44345464, 37911280, 54070398, 28215205, 34168...",1,6.0,NaN,NaN,1.0,Православие,1,NaN
11,NaN,"[154366282, 65299271, 89475290, 68471405, 1568...",1,NaN,NaN,NaN,NaN,None,1,NaN
12,NaN,"[37268163, 53677801, 53484080, 28458334, 14592...",1,NaN,NaN,NaN,NaN,None,1,NaN
13,NaN,"[89520358, 61321691, 40725201, 24489432, 30860...",1,NaN,NaN,NaN,NaN,None,1,NaN
14,NaN,"[50512447, 74596039, 121758837, 33755632, 4308...",1,NaN,NaN,NaN,NaN,None,2,NaN
15,1.0,"[16824047, 51812607, 4391, 23285103, 25854993,...",1,1.0,2.0,8.0,1.0,Православие,2,1.0
16,NaN,"[81350080, 21197636, 112784798, 57846937, 2861...",1,NaN,NaN,NaN,NaN,None,1,NaN
17,NaN,"[54590415, 81125219, 28267986, 138651820, 1292...",1,NaN,NaN,NaN,NaN,None,2,NaN
18,NaN,"[183079, 2531905, 5978194, 13056515, 22935907,...",1,NaN,NaN,NaN,NaN,None,1,NaN
19,NaN,"[68471405, 57846937, 116887644, 36338110, 1539...",1,NaN,NaN,NaN,NaN,None,1,NaN
20,NaN,"[33159467, 70365191, 28261265, 9693056, 114112...",1,NaN,NaN,NaN,NaN,None,1,NaN
21,NaN,"[143033449, 139934599, 126583244, 118140055, 1...",1,NaN,NaN,NaN,NaN,None,2,NaN
22,NaN,"[27520742, 35806378, 115037408, 31177966, 1468...",1,NaN,NaN,NaN,NaN,None,1,NaN
23,NaN,"[65960786, 155043314, 26750264, 32509740, 9888...",1,NaN,NaN,NaN,NaN,None,1,NaN
24,NaN,"[48319873, 40870056, 43215063, 22798006, 48928...",1,NaN,NaN,NaN,NaN,None,1,NaN
25,4.0,"[89475290, 74459168, 153588361, 147097677, 827...",1,1.0,6.0,4.0,4.0,"Мир, любовь, музыка",1,1.0
26,NaN,"[68471405, 35145657, 31516466, 12141758, 40498...",1,1.0,2.0,NaN,0.0,None,1,2.0
27,NaN,"[54365037, 61560900, 58737741, 24098496, 25421...",1,NaN,NaN,NaN,NaN,None,1,NaN
28,3.0,"[71223277, 135251183, 151779453, 125430830, 53...",1,1.0,2.0,2.0,0.0,Православие,2,5.0
29,NaN,"[148278045, 136255956, 143161688, 132178910, 1...",1,NaN,NaN,NaN,0.0,None,1,NaN
...,...,...,...,...,...,...,...,...,...,...
93181,NaN,[],1,NaN,NaN,NaN,NaN,None,1,NaN
93182,NaN,"[36164349, 36606428, 40020627, 42481124, 43955...",1,NaN,NaN,NaN,NaN,None,1,NaN
93183,1.0,"[550910, 2158488, 23308460, 23390361, 26419239...",0,1.0,2.0,3.0,0.0,Верю в Бога,1,1.0
93184,NaN,"[30565462, 31480508, 73756584, 84336833, 88674...",0,NaN,NaN,NaN,NaN,None,1,NaN
93185,NaN,[],1,NaN,NaN,NaN,0.0,None,1,NaN
93186,NaN,[],1,NaN,NaN,NaN,0.0,None,1,NaN
93187,NaN,"[48450729, 80446972, 75419636, 85130362, 50672...",0,NaN,NaN,NaN,NaN,None,2,NaN
93188,NaN,[],1,NaN,NaN,NaN,0.0,None,1,NaN
93189,NaN,[],1,NaN,NaN,NaN,6.0,None,2,NaN
93190,NaN,[],1,NaN,NaN,NaN,NaN,None,1,NaN
93191,NaN,[],0,NaN,NaN,NaN,4.0,None,1,NaN
93192,NaN,[],1,NaN,NaN,NaN,0.0,None,2,NaN
93193,NaN,[],0,NaN,NaN,NaN,NaN,None,2,NaN
93194,NaN,"[8722610, 23285103, 23568032, 23907357, 241991...",0,NaN,NaN,NaN,NaN,None,2,NaN
93195,NaN,[],1,NaN,NaN,NaN,0.0,None,2,NaN
93196,NaN,[],0,NaN,NaN,NaN,0.0,None,1,NaN
93197,5.0,[],0,5.0,1.0,4.0,7.0,Светский гуманизм,1,5.0
93198,NaN,[],0,NaN,NaN,NaN,0.0,None,2,NaN
93199,NaN,[],0,NaN,NaN,NaN,0.0,None,1,NaN
93200,NaN,[40016118],0,NaN,NaN,NaN,0.0,None,2,NaN
93201,NaN,[],0,NaN,NaN,NaN,0.0,None,2,NaN
93202,NaN,[],0,NaN,NaN,NaN,0.0,None,2,NaN
93203,NaN,[],0,NaN,NaN,NaN,0.0,None,2,NaN
93204,NaN,[],0,NaN,NaN,NaN,0.0,None,1,NaN
93205,NaN,[],0,NaN,NaN,NaN,0.0,None,1,NaN
93206,NaN,[],0,NaN,NaN,NaN,0.0,None,2,NaN
93207,NaN,[],0,NaN,NaN,NaN,0.0,None,2,NaN
93208,NaN,[],0,NaN,NaN,NaN,0.0,None,1,NaN
93209,NaN,[],0,NaN,NaN,NaN,0.0,None,2,NaN
93210,NaN,[],0,NaN,NaN,NaN,0.0,None,2,NaN